main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth {
  max-width: 23rem;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.auth .msg {
  display: none;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.auth .msg p {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  word-break: break-word;
}

.auth .auth-form {
  width: 100%;
  padding: 2.5rem 1rem;
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 2rem;
  border: 1px solid #dbdbdb;
}

.auth .auth-form .main-link {
  max-width: 11rem;
  max-height: 3.125rem;
}

.auth .auth-form .main-link img {
  width: 100%;
  height: 100%;
}

.auth .auth-form form {
  max-width: 16rem;
  width: 100%;
  flex-direction: column;
  display: flex;
  gap: 1rem;
}

.auth .auth-form form .input-container {
  flex-direction: column;
  display: flex;
  gap: 0.5rem;
}

.auth .auth-form form .input-container input {
  padding: 0.5rem;
  border: 1px solid #dbdbdb;
  border-radius: 0.25rem;
  background: #fafafa;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
}

.auth .auth-form form button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  transition: background 0.3s, color 0.3s;
  background: #0095f6;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}

.auth .auth-form form button:hover {
  background: #1976f2;
}

.auth .auth-form form button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.auth .auth-form .or {
  max-width: 16rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.auth .auth-form .or span {
  font-size: 0.813rem;
  line-height: 0.938rem;
  font-weight: 600;
}

.auth .auth-form .link {
  all: unset;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  color: #00376b;
  cursor: pointer;
}

.auth .auth-redir-msg {
  width: 100%;
  padding: 1.5rem 1rem;
  box-sizing: border-box;
  border: 1px solid #dbdbdb;
}

.auth .auth-redir-msg p {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.auth .auth-redir-msg a {
  margin: 0;
  font-weight: 600;
  text-decoration: none;
  color: #0096f6;
}

@media (max-width: 768px) {
  .auth .auth-form .or {
    gap: 0.5rem;
  }
}
