.verification {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.verification p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}
