.post {
  max-width: 1024px;
  margin: auto;
  padding: 1rem 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post h1 {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  text-align: center;
}

.post .take {
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post .take video {
  max-width: 468px;
  width: 100%;
  max-height: 585px;
  height: auto;
  object-fit: cover;
  transform: scaleX(-1);
  pointer-events: none;
}

.post .take canvas {
  display: none;
  max-width: 468px;
  width: 100%;
  max-height: 585px;
  height: auto;
  object-fit: cover;
}

.post .take .capture-filter {
  display: none;
  position: absolute;
  max-width: 468px;
  width: 100%;
  max-height: 585px;
  height: auto;
  object-fit: cover;
  transform: scaleX(-1);
  pointer-events: none;
}

.post .take .preview-filter {
  display: none;
  position: absolute;
  max-width: 468px;
  width: 100%;
  max-height: 585px;
  height: auto;
  object-fit: cover;
  pointer-events: none;
}

.post .filters {
  max-width: 468px;
  width: 100%;
  padding: 0.25rem;
  overflow-x: auto;
  display: flex;
  box-sizing: border-box;
  border-radius: 0.5rem;
  background: #efefef;
}

.post .filters button {
  border: none;
  background: none;
  border-radius: 0.5rem;
  transition: background 0.3s, color 0.3s;
  cursor: pointer;
}

.post .filters button:hover {
  background: #dbdbdb;
}

.post .filters img {
  width: 3rem;
  height: auto;
  pointer-events: none;
}

.post .take .buttons {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.post .take button {
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 0.5rem;
  transition: background 0.3s, color 0.3s;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}

.post .take .takePhotoBtn {
  background: #0095f6;
  color: #ffffff;
}

.post .take .takePhotoBtn:hover {
  background: #1877f2;
}

.post .take .takePhotoBtn:disabled {
  background: #efefef;
  color: #808080;
  cursor: not-allowed;
}

.post .take .takePhotoBtn:disabled:hover {
  background: #efefef;
}

.post .take .cancelBtn {
  display: none;
  background: #efefef;
}

.post .take .cancelBtn:hover {
  background: #dbdbdb;
}

.post .take .submitBtn {
  display: none;
  background: #0095f6;
  color: #ffffff;
}

.post .take .submitBtn:hover {
  background: #1877f2;
}

@media (max-width: 485px) {
  .post .filters {
    width: 90vw;
    border-radius: none;
  }

  .post .take .buttons {
    margin: auto;
    flex-direction: column;
  }
}
