.feed {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.feed h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 800;
}

.feed .post {
  flex-direction: column;
  display: flex;
}

.feed .post .user {
  all: unset;
  padding: 0.75rem 0.2rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.feed .post .user img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  pointer-events: none;
}

.feed .post .user .text {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.feed .post .user .text p {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}

.feed .post .user .text span {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #737373;
  cursor: pointer;
}

.feed .post img {
  max-width: 468px;
  width: 100%;
  max-height: 585px;
  height: 100%;
  pointer-events: none;
}

@media (max-width: 485px) {
  .feed .post .user {
    padding: 0.75rem 0.75rem;
  }

  .feed .post .user .text span {
    display: none;
  }
}
