body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-family: "system-ui", sans-serif;
  background-color: #ffffff;
}

input {
  font-family: "system-ui", sans-serif;
}

main {
  flex: 1;
  padding: 1rem;
}

.main-container {
  max-width: 1024px;
  margin: auto;
  flex-direction: column;
  display: flex;
}

.main-container .take-picture {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.main-container .take-picture video {
  /* max-width: 468px; */
  width: 468px;
  /* max-height: 585px; */
  height: 585px;
  object-fit: cover;
  transform: scaleX(-1);
}

.main-container .take-picture button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  transition: background 0.3s, color 0.3s;
  background: #0095f6;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}

@media (max-width: 768px) {
  main {
    padding: 0;
  }
}
