header {
  padding: 0.75rem 1rem 0.75rem 1rem;
  background: #ffffff;
  border-bottom: 1px solid #dbdbdb;
}

header .container {
  max-width: 1024px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .main-link {
  width: 6.25rem;
  height: 1.875rem;
}

header .main-link img {
  width: 100%;
  height: 100%;
}

header .mobileMenuBtn {
  display: none;
}

header .auth {
  display: flex;
  align-items: center;
}

header .auth .link {
  all: unset;
  padding: 0.4rem 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.375rem;
  background: transparent;
  transition: 0.3s background ease;
  white-space: nowrap;
  cursor: pointer;
}

header .auth .link:hover {
  background: #f4f4f4;
}

header .auth .link p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
}

header .auth .link img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  object-fit: cover;
}

header .guest {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header .guest .login {
  all: unset;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  background: #0095f6;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: white;
  transition: background 0.3s ease;
  cursor: pointer;
}

header .guest .login:hover {
  background: #1976f2;
}

header .guest .register {
  all: unset;
  padding: 0.4rem 0;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #0096f6;
  transition: color 0.3s ease;
  cursor: pointer;
}

header .guest .register:hover {
  color: #01376a;
}

@media (max-width: 768px) {
  header .auth {
    z-index: 9999;
    width: 100%;
    position: absolute;
    top: 3.5rem;
    left: 0;
    padding: 0.5rem 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    visibility: hidden;
  }

  header .mobileMenuBtn {
    all: unset;
    padding: 0.4rem;
    display: flex;
    justify-content: center;
    border-radius: 0.375rem;
    transition: 0.3s background ease;
    cursor: pointer;
  }

  header .mobileMenuBtn:hover {
    background: #f4f4f4;
  }
}
