.home {
  max-width: 468px;
  margin: auto;
  flex-direction: column;
  display: flex;
}

.home h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 800;
  text-align: center;
}

.home ul {
  margin: 0;
  padding: 0;
}

.home .post {
  flex-direction: column;
  display: flex;
  border-bottom: 1px solid #dbdbdb;
}

.home .post:last-child {
  padding-bottom: 0.5rem;
  border-bottom: none;
}

.home .post .user {
  padding: 0.75rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home .post .user .infos {
  all: unset;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.post .user .infos:hover {
  cursor: pointer;
}

.home .post .user .infos img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  pointer-events: none;
}

.home .post .user .infos .texts {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.home .post .user .infos .texts p {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}

.home .post .user .infos .texts span {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #737373;
  cursor: pointer;
}

.home .post .user .delete-btn {
  all: unset;
  width: 1rem;
  width: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.home .post img {
  max-width: 468px;
  width: 100%;
  max-height: 585px;
  height: 100%;
  pointer-events: none;
}

.home .post .actions {
  flex-direction: column;
  display: flex;
}

.home .post .buttons {
  display: flex;
  gap: 0.75rem;
}

.home .post .actions img {
  width: 24px;
  height: 24px;
}

.home .post .actions button {
  all: unset;
  padding: 0.5rem 0;
  cursor: pointer;
}

.home .post .actions .likeBtn:hover {
  opacity: 0.5;
}

.home .post .actions .unlikeBtn:hover {
  opacity: 1;
}

.home .post .actions a {
  all: unset;
  padding: 0.5rem 0;
  cursor: pointer;
}

.home .post .actions a:hover {
  opacity: 0.5;
}

.home .post .actions .like-count {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.home .post .actions .comment-count {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #737373;
}

.home .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}

.home .modal .comments-post {
  width: 50%;
  height: 75%;
  flex-direction: column;
  display: flex;
  border-radius: 0.5rem;
  background: #ffffff;
}

.home .modal .comments-post .header {
  padding-left: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home .modal .comments-post .header h1 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.home .modal .comments-post .header button {
  all: unset;
  width: 1rem;
  height: 1rem;
  padding: 0.75rem;
  display: flex;
  cursor: pointer;
}

.home .modal .comments-post .comments {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.home .modal .comments-post .comments h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  text-align: center;
}

.home .modal .comments-post .comments h3 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  text-align: center;
}

.home .modal .comments-post .comments .comment {
  padding: 0.75rem 0.75rem;
  display: flex;
  gap: 0.75rem;
}

.home .modal .comments-post .comments .comment img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  pointer-events: none;
}

.home .modal .comments-post .comments .comment .texts {
  flex-direction: column;
  display: flex;
}

.home .modal .comments-post .comments .comment .texts .title {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.home .modal .comments-post .comments .comment .username {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.home .modal .comments-post .comments .comment .time-diff {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #737373;
}

.home .modal .comments-post .comments .comment .message {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  word-break: break-word;
}

.home .modal .comments-post .err-msg {
  display: none;
  margin: 1rem 1rem 0 1rem;
  padding: 1rem;
  background: #ffebe8;
  border: 1px solid #ffc1bf;
}

.home .modal .comments-post .err-msg p {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home .modal .comments-post form {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.home .modal .comments-post form img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  pointer-events: none;
}

.home .modal .comments-post form input {
  width: 100%;
  padding: 0.6rem;
  border: solid 1px #dbdbdb;
  border-radius: 9999px;
  outline: none;
}

.home .loading {
  display: none;
  max-width: 2rem;
  width: 100%;
  max-height: 2rem;
  height: 100%;
  margin: auto;
  padding: 1rem;
}

@media (max-width: 485px) {
  .home .post .user {
    padding: 0.75rem 1rem;
  }

  .home .post .user .texts span {
    display: none;
  }

  .home .post .actions {
    padding: 0 1rem 0 1rem;
  }
}

@media (max-width: 250px) {
  .home .post .user {
    padding: 0.75rem 0.25rem;
  }

  .home .post .user .infos img {
    display: none;
  }

  .home .post .actions {
    padding: 0 0.25rem;
  }
}
