.post {
  /* background-color: red; */
  max-width: 1024px;
  margin: auto;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post h1 {
  margin: 0;
}

.post button {
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 0.5rem;
  transition: background 0.3s, color 0.3s;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}

.post .take {
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post .take video {
  max-width: 468px;
  width: 100%;
  max-height: 585px;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
}

.post .take img {
  position: absolute;
  max-width: 468px;
  width: 100%;
  max-height: 585px;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
}

.post .take button {
  background: #0095f6;
  color: #ffffff;
}

.post .take button:hover {
  background: #1877f2;
}

.post .preview {
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post .preview canvas {
  display: none;
  max-width: 468px;
  width: 100%;
  max-height: 585px;
  height: 100%;
  object-fit: cover;
}

.post .preview .buttons {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.post .preview .cancelBtn {
  display: none;
  background: #efefef;
}

.post .preview .cancelBtn:hover {
  background: #dbdbdb;
}

.post .preview .submitBtn {
  display: none;
  background: #0095f6;
  color: #ffffff;
}

.post .preview .submitBtn:hover {
  background: #1877f2;
}
