.profile {
  max-width: 1024px;
  margin: auto;
  flex-direction: column;
  display: flex;
}

.profile .top {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.profile .top img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  pointer-events: none;
}

.profile .top-right {
  flex-direction: column;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.profile .top-right h1 {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;
}

.profile .top-right span {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.profile .top-right p {
  margin: 0;
  max-width: 400px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.profile .top-right a {
  all: unset;
  padding: 0.4rem 1rem;
  align-self: flex-start;
  border-radius: 0.375rem;
  background: #efefef;
  transition: 0.3s background ease;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}

.profile .top-right a:hover {
  background: #dbdbdb;
}

.profile .posts {
  padding: 2rem 1rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 0.2rem;
}

.profile .posts h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 800;
}

.profile .posts a {
  all: unset;
  position: relative;
  width: 19rem;
  height: 19rem;
  cursor: pointer;
}

.profile .posts a::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
}

.profile .posts a:hover::after {
  background: rgba(0, 0, 0, 0.25);
}

.profile .posts img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

@media (max-width: 768px) {
  .profile .top {
    padding: 1rem;
    justify-content: start;
    align-items: normal;
    gap: 1.75rem;
  }

  .profile .top img {
    width: 5rem;
    height: 5rem;
  }

  .profile .posts {
    padding: 1rem 0;
  }
}
