.settings {
  max-width: 768px;
  padding: 2rem;
  box-sizing: border-box;
  margin: auto;
  flex-direction: column;
  display: flex;
  gap: 2rem;
}

.settings .editProfile,
.editPassword {
  flex-direction: column;
  display: flex;
  gap: 2rem;
}

.settings h1 {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.settings .msg {
  display: none;
  padding: 1rem;
}

.settings .msg p {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}

.settings form {
  flex-direction: column;
  display: flex;
  gap: 2rem;
}

.settings form .data {
  flex-direction: column;
  display: flex;
  gap: 0.75rem;
}

.settings form .data label {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.settings form .data input {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  border: 1px solid #dbdfe3;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.settings form button[type="submit"] {
  max-width: 14rem;
  width: 100%;
  margin-left: auto;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  background: #0096f6;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.settings form button[type="submit"]:hover {
  background-color: #1976f2;
}

@media (max-width: 768px) {
  .settings {
    padding: 1rem;
    gap: 1rem;
  }

  .settings .editProfile,
  .editPassword {
    gap: 1rem;
  }

  .settings form {
    gap: 1rem;
  }

  .settings form button[type="submit"] {
    max-width: none;
    margin: auto;
  }
}
