.post {
  max-width: 468px;
  margin: auto;
  padding: 1rem 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post h1 {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  text-align: center;
}

.post .msg {
  display: none;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background: #ffebe8;
  border: 1px solid #ffc1bf;
}

.post .msg p {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post .take {
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.post .take .capture {
  position: relative;
  max-width: 468px;
  width: 100%;
  max-height: 585px;
  height: auto;
}

.post .take .capture video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
  pointer-events: none;
}

.post .take .capture img {
  display: none;
  max-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(-1);
  object-fit: cover;
  pointer-events: none;
}

.post .take .preview {
  position: relative;
  max-width: 468px;
  width: 100%;
  max-height: 585px;
  height: auto;
}

.post .take .preview canvas {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post .take .preview .import {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.post .take .preview .filter {
  display: none;
  max-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  pointer-events: none;
}

.post .filters {
  max-width: 468px;
  width: 100%;
  padding: 0.25rem;
  overflow-x: auto;
  display: flex;
  box-sizing: border-box;
  border-radius: 0.5rem;
  background: #efefef;
}

.post .filters button {
  border: none;
  background: none;
  border-radius: 0.5rem;
  transition: background 0.3s, color 0.3s;
  cursor: pointer;
}

.post .filters button:hover {
  background: #dbdbdb;
}

.post .filters img {
  width: 3rem;
  height: auto;
  pointer-events: none;
}

.post .waiting {
  display: none;
  max-width: 468px;
  width: 100%;
  padding: 0.25rem;
  gap: 0.15rem;
  overflow-x: auto;
  display: flex;
  box-sizing: border-box;
  border-radius: 0.5rem;
  background: #efefef;
}

.post .waiting img {
  width: 5rem;
}

.post .take .buttons {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.post .take .buttons .file-input {
  display: flex;
}

.post .take .buttons .file-input input {
  display: none;
}

.post .take .buttons .file-input label {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  background: #0095f6;
  transition: background 0.3s;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}

.post .take .buttons .file-input label:hover {
  background: #1877f2;
}

.post .take button {
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 0.5rem;
  transition: background 0.3s, color 0.3s;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}

.post .take .take-photo-btn {
  background: #0095f6;
  color: #ffffff;
}

.post .take .take-photo-btn:hover {
  background: #1877f2;
}

.post .take .take-photo-btn:disabled {
  background: #efefef;
  color: #808080;
  cursor: not-allowed;
}

.post .take .publish-photo-btn {
  background: #0095f6;
  color: #ffffff;
}

.post .take .publish-photo-btn:hover {
  background: #1877f2;
}

.post .take .publish-photo-btn:disabled {
  background: #efefef;
  color: #808080;
  cursor: not-allowed;
}

.post .take .cancel-btn {
  display: none;
  background: #efefef;
}

.post .take .cancel-btn:hover {
  background: #dbdbdb;
}

.post .take .save-btn {
  display: none;
  background: #0095f6;
  color: #ffffff;
}

.post .take .save-btn:hover {
  background: #1877f2;
}

@media (max-width: 485px) {
  .post .filters {
    width: 90vw;
    border-radius: none;
  }

  .post .waiting {
    width: 90vw;
    border-radius: none;
  }

  .post .take .buttons {
    margin: auto;
    flex-direction: column;
  }
}
