body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "system-ui", sans-serif;
  background: #ffffff;
}

main {
  max-width: 300px;
  padding: 2.5rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 2rem;
  border: 1px solid #dbdbdb;
}

img {
  width: 11rem;
  height: 3.125rem;
}

form {
  width: 16rem;
  flex-direction: column;
  display: flex;
  gap: 1rem;
}

form .input-container {
  flex-direction: column;
  display: flex;
  gap: 0.5rem;
}

form .input-container input {
  padding: 0.5rem;
  border: 1px solid #dbdbdb;
  border-radius: 0.25rem;
  background: #fafafa;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
}

form button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  transition: background 0.3s, color 0.3s;
  background: #0095f6;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}

form button:hover {
  background: #1976f2;
}

p {
  margin: 0;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  color: #555555;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: #555555;
}
